{% extends 'base.html' %}

{% block detail %}
<div class="container bootdey">
    <div class="col-md-12">
        {% if product %}
        <section class="panel">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img style="height: 500px;" src="{{ product.picture.url }}" alt="">
                    </div>
                    <div class="pro-img-list">
                        <a href="#">
                            <img style="height: 100px;" src="{{ product.picture.url }}" alt="">
                        </a>
                        <a href="#">
                            <img style="height: 100px;" src="{{ product.picture.url }}" alt="">
                        </a>
                        <a href="#">
                            <img style="height: 100px;" src="{{ product.picture.url }}" alt="">
                        </a>
                        <a href="#">
                            <img style="height: 100px;" src="{{ product.picture.url }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="">
                            <strong>{{ product.name }}</strong>
                        </a>
                    </h4>
                    <p>
                        <strong>Original Chelsea FC 2023-24 jersey is now for sale!</strong>
                    </p>
                    <div class="product_meta">
                            <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="#">Jerseys</a>, <a
                                    rel="tag" href="#">Men</a>, <a rel="tag" href="#">Shirts</a>, <a rel="tag" href="#">T-shirt</a>.</span>
                        <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a
                                rel="tag"
                                href="#">womens</a>.</span>
                    </div>
                    <div class="m-bot15"><strong>Price : </strong> <span class="amount-old">${{ product.price }}</span>
                        <span
                                class="pro-price"> ${{ product.price }}</span></div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="quantity" placeholder="1" class="form-control quantity">
                    </div>
                    <p>
                        <button class="btn btn-round btn-danger" type="button"><i
                                class="fa fa-shopping-cart"></i>
                            Add to Cart
                        </button>
                    </p>
                </div>
            </div>
        </section>
        {% else %}
        <p>Produkut mavjud emas.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
